/* Add space for footer at bottom */
body .mt2 {
    padding-bottom: 60px;
}

/* Fonts */
@font-face {
    font-family: 'Aurebesh';
    src: url('fonts/aurebesh/galbasic.ttf');
}
.aurebesh {
    font-family: 'Aurebesh', serif;
}

@font-face {
    font-family: 'Englibesh';
    src: url('fonts/englbesh/englbesh.ttf');
}
.englibesh {
    font-family: 'Englibesh', serif;
}

/* Buttons */
button, .btn {
    transition: 0.2s;
}

button:hover, .btn:hover {
    transform: translateY(-2px);
}

.btn-primary {
    border-radius: 8px;
    background-color: #cc9c0c !important;
}
.btn-primary:hover {
    background-color: #ba8e0b !important;
}

.btn-warning {
    background-color: #d6d322 !important;
}

/* Stop footer overlap */
.main-content{
    margin-bottom: 100px;
}

/* Nav bar */
.navbar.navbar-gold {
    background-color: #B59410 !important;
}
.navbar.navbar-gold .nav-link{
    color: #303030 !important;
}
.navbar.navbar-gold .nav-link:hover{
    color: white !important;
}

/* Tables */
.text-gold {
    color: #d4af1e;
}
.table .table-row-gold > td,
.table .table-row-gold > th {
    background-color: #d4af1e !important;
    color: #525252;
}
.table .table-row-lightblue > td,
.table .table-row-lightblue > th {
    background-color: #7ac1ff !important;
    color: #404040;
}

/* Text */
.p-before-btn {
    margin-bottom: 0;
}

/* Credit symbol */
.swCredA {
    font-size: 110%;
    font-family: "Lucida Grande", Lucida Sans Unicode, GNU Unifont, Verdana, Helvetica, sans serif;
    letter-spacing: -0.17rem;
    vertical-align: 0.03em;
    margin: -0.5em;
    padding-left: 0.2em;
}

.swCredB {
    font-size: 110%;
    font-family: "Lucida Grande", Lucida Sans Unicode, GNU Unifont, Verdana, Helvetica, sans serif;
    letter-spacing: -0.2rem;
    vertical-align: -0.03em;
    margin: -0.17em;
    padding-left: -1em;
    padding-right: 0.4em;
}